html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      15deg,
      rgba(41, 41, 41, 1) 4%,
      rgba(49, 49, 49, 1) 24%,
      rgba(128, 128, 128, 1) 64%,
      rgba(138, 138, 138, 1) 70%,
      rgba(230, 230, 230, 1) 81%,
      rgba(255, 255, 255, 1) 86%,
      rgba(220, 220, 220, 1) 89%,
      rgba(230, 230, 230, 1) 100%
  );
  background-color: #09a8ff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  background-blend-mode: overlay;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokedex {
  background-color: #e61515;
  width: 848px;
  height: 38rem;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  border: double black 10px;
  display: flex;
}

.panel {
  width: 359px;
  padding: 10px;
  border: inset #b31818 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.right-panel {
  padding: 0;
  width: 379px;
}

.panel-row {
  display: flex;
  border-bottom: groove #757575 3px;
  justify-content: space-evenly;
}

.panel-row:last-child {
  border-top: groove #757575 3px;
  border-bottom: none;
}

.divider {
  display: flex;
  flex-direction: column;
  width: 30px;
  margin: 0 20px;
  align-items: center;
  border: inset #460f0f 4px;
  border-radius: 4px;
  background: #460f0f;
}

.divider > * {
  border-radius: 4px;
  border: solid #2d0d0d 2px;
}

.hinge {
  background: linear-gradient(90deg, #891313 0, #b31818 30%, #e61515 45%, #fd5555 65%, #e61515 95%);
  border-right-color: #fd5555;
  border-top-color: #fd5555;
  flex: 10;
  width: 100%;
  border-left-color: #5f1010;
}
.gap:first-child {
  border-radius: 0 0 5px 5px;
  border-top: none;
}
.gap:last-child {
  border-radius: 5px 5px 0 0;
}
.gap {
  background: linear-gradient(90deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
  border-top-color: #891313;
  border-right-color: #b31818;
  flex: 1;
  width: 95%;
}
.screen {
  background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
  padding: 5px;
  width: 100%s;
  border-radius: 3px;
  font-family: "VT323";
  border: inset #879a65 3px;
}
.pokemon-name {
  font-size: 28px;
  letter-spacing: 4px;
  text-transform: capitalize;
  height: 45px;
  box-sizing: border-box;
}
.name-no {
  float: right;
  text-transform: lowercase;
}
.pokemon-description {
  font-size: 18px;
  letter-spacing: 0;
  min-height: 115px;
  text-transform: lowercase;

  box-sizing: border-box;
  flex: 1;
}
.pokemon-description::first-letter{
  text-transform: uppercase;
}
.pokemon-sprite {
  width: 100%;
  display: flex;
  image-rendering: pixelated;
  border: inset #9aa28b 3px;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
}


/* types */
.type {
  color: rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
  font-size: 1.25em;
  padding: 2px;
  margin: 2px;
  border: groove #757575 3px;
  border-radius: 10px;
  width: 150px;
  font-family: "Staatliches", cursive;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: rgba(255, 255, 255, 0.3) -1px 1px;
  align-self: center;
  background: linear-gradient(
      15deg,
      rgba(128, 128, 128, 0.5) 64%,
      rgba(138, 138, 138, 0.5) 70%,
      rgba(230, 230, 230, 0.5) 81%,
      rgba(255, 255, 255, 0.5) 86%,
      rgba(220, 220, 220, 0.5) 89%,
      rgba(230, 230, 230, 0.5) 100%
  );
  background-blend-mode: hard-light;
}
.panel-header {
  text-transform: capitalize;
  font-size: 1.25em;
  padding: 5px;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(14deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
  border: groove #e61515 3px;
  border-width: 3px 2px;
  text-shadow: #fd5555 -1px 1px;
}
.type-list {
  display: flex;
  flex-direction: column;
  border-left: groove #757575 3px;
  flex: 1;
}
.type-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  background: linear-gradient(14deg, #afafaf 50%, #ffffff 80%, #afafaf 90%);
  border-top: groove #757575 3px;
}
.stats {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  flex: 1;
}
.stat-line {
  font-size: 17px;
  text-transform: capitalize;
}

.blue-buttons {
  flex-wrap: wrap;
  padding: 5px;
}
.blue-button {
  height: 30px;
  flex: 1 1 16%;
  margin: 3px;
  border: groove #6c96e6 3px;
  border-radius: 5px;
  background: linear-gradient(
      15deg,
      rgba(128, 128, 128, 0.5) 64%,
      rgba(138, 138, 138, 0.5) 70%,
      rgba(230, 230, 230, 0.5) 81%,
      rgba(255, 255, 255, 0.5) 86%,
      rgba(220, 220, 220, 0.5) 89%,
      rgba(230, 230, 230, 0.5) 100%
  );
  background-blend-mode: hard-light;
  background-color: #09a8ff;
}
.move-name {
  font-size: 24px;
  border-bottom: solid black 2px;
  /* padding: 0 5px; */
  margin-bottom: 3px;
  text-align: center;
  text-transform: capitalize;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.button {
  padding: 5px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: outset rgb(248, 187, 187) 6px;
  transform: rotate(60deg);
  background: radial-gradient(
      circle farthest-corner at 40% 25%,
      rgb(218, 237, 241) 9%,
      rgb(124, 214, 237) 20%,
      rgb(64, 90, 165) 62%,
      rgb(43, 125, 196) 100%
  );
  cursor: pointer;
}
.button:hover {
  background: radial-gradient(
      circle farthest-corner at 40% 25%,
      rgb(233, 241, 218) 9%,
      rgb(184, 237, 124) 20%,
      rgb(64, 165, 106) 62%,
      rgb(43, 196, 145) 100%
  );
}
.button:active {
  background: radial-gradient(
      circle farthest-corner at 40% 25%,
      rgb(229, 255, 181) 9%,
      rgb(204, 237, 124) 20%,
      rgb(103, 165, 64) 62%,
      rgb(66, 204, 40) 100%
  );
}
.button::after {
  border: groove #460f0f 5px;
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  border-style: double;
  opacity: 0.75;
}
.prev {
  border-right: 30px solid white;
}
.num {
  color: blue;
}
.next {
  border-left: 30px solid white;
}
.num-input {
  width: 50px;
  font-size: 20px;
  height: 30px;
  text-align: right;
  align-self: center;
}

.submit {
  width: 66px;
  height: 18px;

  border: groove #5f845e 3px;
  background-color: #5ed75e;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 3px;
  cursor: pointer;
}
.submit:hover {
  border-color: #85ec4d;
}

.normal {
  background-color: #bfbfbf;
}
.fighting {
  background-color: #d87c58;
}
.flying {
  background-color: #999ade;
}
.poison {
  background-color: #925192;
}
.ground {
  background-color: #dea761;
}
.rock {
  background-color: #897864;
}
.bug {
  background-color: #b1c967;
}
.ghost {
  background-color: #c195dc;
}
.steel {
  background-color: #49769c;
}
.fire {
  background-color: #cf1414;
}
.water {
  background-color: #1689de;
}
.grass {
  background-color: #47a047;
}
.electric {
  background-color: #e6b700;
}
.psychic {
  background-color: #fa43b8;
}
.ice {
  background-color: #98c3de;
}
.dragon {
  background-color: #89315d;
}
.dark {
  background-color: #282433;
}
.fairy {
  background-color: #dca0ce;
}
.unknown {
  background-color: #545454;
}
.shadow {
  background-color: #364163;
}



	div#buttonGlass
	{
		width: 60px;
		height: 60px;
		margin-right: 15px;
		border: 5px solid #fff;
		float: left;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;
		
		background: radial-gradient(#05fbfb, #29abe3);
		background: -webkit-radial-gradient(#05fbfb, #29abe3);
		background: -moz-radial-gradient(#05fbfb, #29abe3);
		background: -o-radial-gradient(#05fbfb, #29abe3);
		
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
	   	-o-border-radius: 35px;
	}

	div#reflect
	{
		width: 30px;
		height: 18px;
		margin: 3px 0 0 15px;
		background: #fff;
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}

.controlli{
  height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}